.popup-open {
	overflow: hidden;
}

.popup-open::after {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
	z-index: 999;
}

#infoButton {
	cursor:pointer;
}

#infoPopup {
	display: none;
	position: fixed;
  width: 40vw;
  height: 90vh;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #111;
	padding: 15px;
	z-index: 1000;

	border-radius: 5px;
	border: 1px solid #00ff00;
	box-shadow: 0 0 10px #00ff00, 0 0 10px #00ff00, 0 0 10px #00ff00, 0 0 10px #00ff00;
	/* animation: glowing 10s infinite; */
}

#infoPopup h1 {
  margin: 5px 0 15px 0;
}

#infoPopup h2 {
	margin-top: 0;
	font-size: 30px;
}

#infoPopup h4 {
	font-size: 20px;
	text-align: left;
	margin-bottom: 0;
}

#infoContent {
	/* Style your content within the popup */
	padding: 10px;
	font-size: 18px;
}

#infoContent ul {
	padding-left: 20px;
}

#infoContent p {
	text-align: left;
}

#infoContent #githubTitle {
	margin-bottom: 15px;
}

#closeInfoButton {
	display: block;
	/* margin-top: 10px; */
	cursor: pointer;
}

#closeInfoButton:hover {
	display: block;
	cursor: pointer;

	background-color: #00ff00;
	color: #000;
	position: relative;

	border: 2px solid #00ff00;
	border-radius: 5px;
	box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
	animation: glowing 10s infinite;
}
