body {
  text-align: center;
}
  
h1 {
  color: #333;
}

#sussy_button {
  background-color: transparent;
  border: none;
}

#sussy_button img {
  width: 200px;
}

#score {
  font-size: 18px;
}

#helper_list {
  /* overflow-x: hidden;
  overflow-y: auto; */
  height: 100%;
  text-align: center;
  padding: 0px;
}

#helper_list img {
  width: 100%;
  height: 50px;
}

#helper_list li {
  display: inline-block;
  margin-left: 1px;
  margin-right: 1px;
}

#helper_list li button {
  /* width: 120px;
  height: 230px; */
}

#helpers {
  width: 40%;
  max-height: auto;
  margin: auto;
  border: 3px solid green;
  padding: 10px;
}

.github-link {
  position: fixed;
  top: 10px;
  left: 10px;
  padding: 10px;
  background-color: #333;
  color: #fff;
  text-decoration: none;
}

#volume_container {
  margin-top: 50px;
  position: fixed;
  top: 10px;
  left: 10px;
}