@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  text-align: center;
  background-color: #222;
  color: #fff;
  margin: 0px;
  height: 100vh;

  /* no user select text */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* can't drag images */
img {
  -webkit-user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

html, body, button {
  font-family: 'VT323';
  overflow: hidden;
}

.build-version {
  position: fixed;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
}

#game_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: 1fr auto;
  grid-gap: 0px;
  height: calc(100vh - 47px);
}

.topnav {
  background-color: #111;
  overflow: hidden;

  border: 5px solid #00ff00;
  box-shadow: 0 0 10px #00ff00;
  animation: glowing 1.5s infinite;
}

.topnav a {
  float: left;
  color: #fff;
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.2s;
  border-radius: 5px;
  outline: none;
}

.topnav a:hover {
  background-color: #00ff00;
  color: #000;
  position: relative;
}

.topnav a:hover::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00, 0 0 30px #00ff00, 0 0 40px #00ff00;
  animation: glowing 1.5s infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 3px #00ff00, 0 0 4px #00ff00, 0 0 6px #00ff00, 0 0 10px #00ff00;
  }
  50% {
    box-shadow: 0 0 4px #00ff00, 0 0 6px #00ff00, 0 0 10px #00ff00, 0 0 2px #00ff00;
  }
  100% {
    box-shadow: 0 0 3px #00ff00, 0 0 4px #00ff00, 0 0 6px #00ff00, 0 0 10px #00ff00;
  }
}

.topnav a.active {
  background-color: #00ff00;
  color: #000;
  border-radius: 5px;
  font-weight: bold;
  box-shadow: 0 0 5px #00ff00;
}

h1 {
  color: #ff0000;
  font-size: 48px;
  text-shadow: 2px 2px 4px #000000;
}

#button_stats {
  margin-top: 50px;
  grid-column: 1 / span 1;
  grid-row: 1 / span 2;
}

#sussy_button {
  background-color: transparent;
  border: none;
  transition: transform 0.1s ease-out;
  cursor: pointer;
}

#sussy_button:hover {
  transform: scale(1.06);
}

#sussy_button:active {
  transform: scale(0.95);
}

#sussy_button img {
  width: 300px;
}

#score,
#sps {
  font-size: 24px;
  margin: 10px 0;
  text-shadow: 1px 1px 2px #000000;
}

#sus_title {
  grid-column: 2;
}

#store {
  width: 316px;
  margin: 0px auto;
  padding: 10px 0px 71px;
  background-color: #111;
  border: 5px solid #00ff00;
  border-top: none;
  border-bottom: 0;
  box-shadow: 0 0 10px #00ff00;
  grid-column: 3;
  margin-bottom: 0px;
  animation: glowing 1.5s infinite;

  z-index: 0;
}

#store h2 {
  color: #00ff00;
  font-size: 32px;
  margin-bottom: 20px;
  text-shadow: 2px 2px 4px #000000;
}

#helper_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-shadow: 0 0 10px #00ff00;
  border: 0;
  width: 100%;
  /* z-index: 1000; */
}

#helper_list > li {
  flex: 0 0 100%;
  width: 100%;
  background-color: #333;
  border-top: 3px solid #00ff00;
  box-shadow: inset 0 0 7px #00ff00;
  transition: all 0.3s;
}

#helper_list > li:last-child {
  border-bottom: 3px solid #00ff00;
}

#helper_list > li button {
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 100%;
  height: 64px;

  display: grid;
  grid-row-gap: 0px;
  grid-template-columns: 64px auto auto;
  grid-template-rows: 38px 26px;

  margin: 10px;
  padding: 0;

  transition: all 0.1s ease-out;
  border-radius: 3px;
}

#helper_list > li button:hover {
  transform: scale(1.03);
  /* background-color: rgb(101, 101, 101); */
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

#helper_list li #helper_icon {
  width: 64px;
  height: 64px;
  margin-bottom: 0px;

  grid-row: 1 / 3;
}

#helper_list li > span {
  margin: 0;
  color: #fff;
  font-size: 16px;
  text-shadow: 1px 1px 2px #000000;
}

#helper_list li span {
  color: #fff;
  text-shadow: 1px 1px 2px #000000;
}

#helper_list > li #helper_name {
  grid-row: 1;
  grid-column: 2;
  text-align: left;
  padding-left: 7px;
  font-size: 30px;
}

.helper-cost {
  grid-row: 2;
  grid-column: 2;
  font-size: 18px;
  text-align: left;
  padding-left: 7px;
}

.helper-cost img {
  width: 12px;
  height: 12px;
}

#helper_list > li #helper_quantity {
  font-size: 40px;
  text-align: right;
}

.info-card {
  display: none;
  position: absolute;
  background-color: #111;
  padding: 10px;
  border: 1px solid #fff;
  width: 350px;

  border: 2px solid #00ff00;
  box-shadow: 0 0 10px #00ff00;
  border-radius: 7px;
}

.hover-element {
  position: relative;
  display: inline-block;
}

/* .hover-element:hover + .info-card,
.info-card:hover {
  display: block;
  z-index: 99999;
  right: 326px;
} */

.element-container {
  display: flex;
  margin-bottom: 20px;
}

.info-card .helper-info-header,
.info-card .upgrade-info-header {
  display: flex;
  min-height: 0;
  width: 100%;

  padding-bottom: 12px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, transparent, #898989, transparent) 1;
}

.info-card .helper-info-header h1,
.info-card .upgrade-info-header h1 {
  text-align: left;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  font-size: 24px;
  min-width: 0px;
}

.info-card img.info-card-header-icon {
  border-radius: 50%;
  height: 52px;
  width: 52px;
}

.info-card .helper-info-name-owned,
.info-card .upgrade-info-name-owned {
  min-width: 0px;
  padding-left: 10px;
  display: block;
}

.info-card .helper-info-name-owned .helper-info-owned,
.info-card .upgrade-info-name-owned .upgrade-info-owned {
  text-align: left;
  padding: 1px 3px;
  margin: 10px 0 0 0;
  float: left;
  background-color: #ffffff;
  color: black;
  min-width: 0px;
  display: inline-flex;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0px 10px 20px rgba(0, 0, 0, 0.5);
}

.info-card span.info-helper-cost,
.info-card span.info-upgrade-cost {
  margin: 1px 0 0 0;
  flex: 1;
  display: flex;
  flex-direction: row-reverse;     
  align-items: right;
  flex-wrap: wrap;
  max-height: 20px;
  max-width: 60%;
  white-space: nowrap;
  font-size: 20px;
}

.info-card .info-helper-cost img,
.info-card .info-upgrade-cost img {
  border: 0px;
  /* padding: 2px 4px; */
  height: 14px;
  width: 14px;
}

.info-card span.time-worth {
  font-size: 11px;
  font-family: 'Roboto', sans-serif;
  padding: 0;
  flex-basis: 100%;
  margin: 2px 0 0 100%;
}

.info-card ul.helper-info-list {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-align: left;
  padding: 4px 0px 4px 20px;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, transparent, #898989, transparent) 1;
}

.info-card ul.helper-info-list p:last-child {
  margin-bottom: 10px;
}

.info-card ul.helper-info-list p {
  margin: 10px 0 5px 0;
  padding: 4px;
  border-radius: 8px;

  color:rgb(90, 90, 90)0;
  background-color: #2d2d2d;
}

.info-card .info-list-highlight {
  margin: 0;
  padding: 0;
  color: white;
  font-weight: bold;
}

.info-card .helper-description,
.info-card .upgrade-description {
  text-align: right;
  margin: 0;
  padding: 12px 0 12px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: rgb(183, 183, 183);
  font-style: italic;
  border-bottom: 1px solid;
  border-image: linear-gradient(to right, transparent, #898989, transparent) 1;
  padding-right: 7px;
}

.info-card .upgrade-summary {
  text-align: left;
  margin: 0;
  padding: 12px 0 12px 5px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: rgb(234, 234, 234);
}

.info-card .click-to-purchase {
  margin: 0;
  padding: 10px 0 0 0px;
  color: rgb(183, 183, 183);
}

.info-card > span > img {

}

/* UPGRADES */

#upgrades {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  list-style: none;
  padding: 10px 0;
}

#upgrades li {
  box-sizing: border-box;
  margin: 1px;
  width: 19.3%;
  height: 60px;
  transition: all .3s;
}

#upgrades li:hover {
  cursor: pointer;
}

#upgrades li > div {
  width: 100%;
  height: 100%;
}

#upgrades li img.upgrade-square-icon {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#volume_container {
  float: right;
  padding: 6px 16px;
}

#volume_label {
  color: #00ff00;
  font-size: 18px;
}

#volume_slider {
  -webkit-appearance: none;
  width: 40%;
  height: 7px;
  background-color: #fff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background-color: #00ff00;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#volume_slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background-color: #ff69b4;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

#mute_button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
}

#mute_button:hover {
  background-color: #00ff00;
  color: black;
}

.vert-scrollable {
  overflow-y: auto;
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;

  /* WebKit browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #999;
    border: 4px;
    border-radius: 50px;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}

.horiz-scrollable {
  overflow-x: auto;
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #999 transparent;

  /* WebKit browsers (Chrome, Safari) */
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #999;
    border: 4px;
    border-radius: 50px;
    background-clip: padding-box;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }
}
