#volume_container {
  /* float: right; */
  /* padding: 7px 8px 5px 16px; */
}

#volume_label {
  color: #00ff00;
  font-size: 18px;
}

#volume_slider {
  -webkit-appearance: none;
  appearance: none;
  width: 40%;
  height: 7px;
  background-color: #fff;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

#volume_slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: #00ff00;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border: none;
}

#volume_slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background-color: #00ff00;
  border-radius: 50%;
  cursor: pointer;
  border: none;
}

#mute_button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  transition: background-color 0.2s;
  border-radius: 5px;
}

#mute_button:hover {
  background-color: #00ff00;
  color: black;
	box-shadow: 0 0 10px #00ff00;
}
